* {
  text-align: center;
}

body {
  background-color: #e7edf5;
}

img {
  border-radius: 100%;
  margin: 15px;
  max-height: 80px;
}

p {
  padding: 15px;
  font-family: serif;
  text-align: left;
}

h3 {
  font-size: 16px;
}

.user-container {
  display: flex;
  flex-direction: column;
  background-color: steelblue;
  color: white;
}

.current-user, .users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.user-container p {
  margin: 10px 20px;
}

.user-image, .name, .buttons {
  flex: 1;
}

.users {
  background-color: white;
  margin: 10px;
}

.user-info {
  margin: 0 auto;
}

.user-name {
  padding-top: 10px;
}

.user-description {
  text-align: left;
}

.formButton, .buttons button {
  width: 60px;
  padding: 8px;
  margin: 8px;
  background-color: white;
  color: steelblue;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}

.form p {
  font-family: sans-serif;
}

input, textarea {
  border: none;
  font-family: serif;
  text-align: left;
  resize: none;
  margin-bottom: 15px;
  border-radius: 5px;
}

.login {
  height: 100%;
}

.login-box {
  color: black;
  padding: 49vh 0;
}

@media (min-width: 800px) {
  img {
    margin: 20px;
    max-height: 110px;
    max-width: 110px;
  }

  .users {
    width: 80%;
    margin: 10px auto;
  }

  .user-container p {
    margin: 0 10% 15px 10%;
  }
}
