* {
  margin: 0 auto;
  text-align: center;
}

img {
  border-radius: 100%;
  max-height: 80px;
  margin: 10px;
}

p {
  margin: 15px;
  font-family: serif;
}

/*.home {
  display: flex;
  flex-direction: row;
}*/

.buttons {
  display: flex;

}

.buttons button {
  flex: 1;
}

h3 {
  font-size: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

input {
  margin-bottom: 15px;
}

button {
  /*padding: 10px;
  margin: 20px;*/
}

.currentUser {
  background-color: steelblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*
.currentUser {
  flex: 1;
}*/
